:root {
    --highlight-color: rgb(229, 9, 20);
}

.App {
    text-align: center;
    font-weight: 600;
}

.App-logo {
    max-width: 150px;
}
.App-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    width: 100%;
}

.App-link,
a {
    color: var(--highlight-color);
}
.container {
    max-width: 1400px;
    margin: auto;
    padding: 0 1rem;
}
.container--lg {
    max-width: 1024px;
}
.flex {
    display: flex;
}
.flex-1 {
    -webkit-box-flex: 1;
    flex: 1 1 0%;
}
.align-center {
    align-items: center;
}
.space-between {
    justify-content: space-between;
}
.justify-right {
    justify-content: right;
}

.hero {
    align-items: center;
    display: flex;
    font-size: large;
    justify-content: center;
    min-height: 60vh;
}
.hero .link {
    font-weight: bold;
}

.btn-link {
    font-size: 1rem;
}

.jumbo-txt {
    font-size: calc(5rem + 2vmin);
}
.regular {
    font-weight: 400;
}
.inline-block {
    display: inline-block;
}
.absolute {
    position: absolute;
}
.relative {
    position: relative;
}
.img-responsive {
    max-width: 100%;
    width: 100%;
}

.gap-1 {
    gap: 1rem;
}

.top-background {
    background-size: 100% calc(100% + 2px), 150% 100%;
    background-position: 100% 0;
    background-repeat: no-repeat;
    background-image: -webkit-linear-gradient(
            rgba(0, 0, 0, 0.7),
            rgba(0, 0, 0, 0.6) 50px,
            rgba(0, 0, 0, 0.6) 100px,
            #000
        ),
        url("assets/imgs/netflix-bg.jpg");
    background-image: linear-gradient(
            rgba(0, 0, 0, 0.7),
            rgba(0, 0, 0, 0.6) 50px,
            rgba(0, 0, 0, 0.6) 100px,
            #000
        ),
        url("assets/imgs/netflix-bg.jpg");
}

.nflx-bg-1,
.nflx-bg-2 {
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-image: -webkit-linear-gradient(
            #000 0,
            transparent 20%,
            transparent 80%,
            #000 100%
        ),
        url("assets/imgs/netflix-bg1.jpg");
    background-image: linear-gradient(
            #000 0,
            transparent 20%,
            transparent calc(100% - 20%),
            #000 100%
        ),
        url("assets/imgs/netflix-bg1.jpg");
}

.nflx-bg-2 {
    background-image: -webkit-linear-gradient(
            #000 0,
            transparent 20%,
            transparent 80%,
            #000 100%
        ),
        url("assets/imgs/netflix-bg2.jpg");
    background-image: linear-gradient(
            #000 0,
            transparent 20%,
            transparent calc(100% - 20%),
            #000 100%
        ),
        url("assets/imgs/netflix-bg2.jpg");
}

.section1 {
    min-height: 100vh;
}
.section2 {
    min-height: 100vh;
}
.top__select {
    margin: auto;
    max-width: 300px;
    text-align: center;
}
.dropdown {
    border-bottom: 2px solid var(--highlight-color);
    color: white;
    cursor: pointer;
    font-size: x-large;
    font-weight: bold;
    padding: 0.5rem;
}
.arrow-img {
    max-width: 1rem;
}

.xs-img {
    max-width: 1rem;
    width: 100%;
}
.small-img {
    max-width: 3.5rem;
    width: 100%;
}

.info-txt {
    font-size: 0.875rem;
}

.wh-full {
    height: 100%;
    width: 100%;
}
.max-w-prose {
    max-width: 65ch;
    text-align: left;
}
.margin-y {
    margin-bottom: 5rem;
    margin-top: 5rem;
}
.margin-y-sm {
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.white-links a,
a.white-links {
    color: var(--white-text);
}

.social__btn {
    width: 1.5rem;
}
