.slider__section {
    padding-bottom: 32.8%;
    box-shadow: 0px 20px 50px -10px black;
    -webkit-tap-highlight-color: transparent;
    overflow: hidden;
}
.slider__container {
    background-color: rgba(0, 0, 0, 0.6);
    list-style: none;
    margin: 0;
    margin: auto;
    padding: 0;
    position: absolute;
    height: 100%;
    width: 100%;
}
.slider__item {
    background-color: #111;
    background-image: -webkit-linear-gradient(bottom, transparent, #000);
    background-image: linear-gradient(0deg, transparent, #000);
    box-shadow: 0 0 10px 5px rgb(0 0 0 / 70%);
    box-sizing: initial;
    cursor: pointer;
    flex-basis: 0.4%;
    height: 100%;
    padding: 0;
    transition: all 0.3s ease-in-out;
}
.slider__item.selected {
    flex-basis: 56.25%;
    padding-left: 192px;
}
.slider__item:not(.selected):hover {
    flex-basis: 8%;
}
.slider__item.selected .slider__item__img img {
    opacity: 1;
}
.slider__item:not(.selected):hover .slider__item__img img {
    opacity: 0.7;
}
.slider__item__img {
    height: 100%;
    left: 0;
    padding-left: 100%;
    position: absolute;
    top: 0;
}
.slider__item__img img {
    bottom: 0;
    height: 100%;
    left: 0;
    object-fit: cover;
    opacity: 0.4;
    position: absolute;
    transition: all 0.3s ease-in-out;
    width: 100%;
}
.slider__item__info {
    display: none;
    left: 0;
    height: 100%;
    margin-left: -192px;
    top: 0;
    width: 192px;
}
.slider__item__info img {
    max-width: 100%;
    width: 100%;
}
.slider__item__info__txt {
    bottom: 0;
    font-size: small;
    left: 0;
    padding: 1.5rem;
    position: absolute;
}
.slider__item__info__txt p {
    margin: 0;
}
.slider__item.selected .slider__item__info {
    display: block;
}

.slider__item__title {
    background-image: linear-gradient(transparent 0px, rgba(0, 0, 0, 0.5) 100%);
    bottom: 0;
    left: 0;
    font-size: smaller;
    font-weight: bold;
    min-width: min-content;
    opacity: 0;
    padding: 1rem;
    padding-bottom: 0.5rem;
    position: absolute;
    text-shadow: black 0px 0px 2px, black 0px 0px 10px;
    text-transform: uppercase;
    transition: all 0.3s ease-in-out;
    width: 100%;
}
.slider__item:hover .slider__item__title {
    opacity: 1;
}

@media screen and (min-width: 1024px) {
    .slider__item.selected {
        padding-left: 256px;
    }

    .slider__item__info {
        margin-left: -256px;
        width: 256px;
    }
    .slider__item__info__txt {
        font-size: inherit;
    }
}
